.main-chat
  .header
    .left-header
      .left-header__current-group
        ooo
      %ul.left-header__members
        Member：
        %li.member
        ppp
    .right-header
      .right-header__button Edit

  .messages
    .message
      .upper-message
        .upper-message__user-name
          ppp
        .upper-message__date
          2019/11/01 06:21
      .text-message
        %p.text-message__content
          おはようございます。
  .form
    %input#message_content.form__message{ name: "message[content]", placeholder: "type a message", type: "text"}
    .form__mask
      %label.form__mask__image{for: "message_image"}
        =fa_icon 'image'         
      %input#message_image.hidden{ name:"message[image]", type: "file"}
    %input.form__submit{ name: "commit", type: "submit", value: "Send"}
  
     
    
   